/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

@font-face {
    font-family:"market_fresh";
    src: url("marketfresh.ttf") /* TTF file for CSS3 browsers */
}

body
{
    font-family: "market_fresh";
    background: linear-gradient(#F2994A,#F2C94C)
}

/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: rgb(255, 255, 255, .2);
    cursor: pointer;
    border-radius: 10px;
    
}

table.power th
{
    background-color: #f8f8f8;
    cursor: default;
    border-radius: 10px;
    font-size: 18px;
    color:#181818;
}

td.pw1
{
    background-color: #6fe8f0;
    border-radius: 10px;
    color:#181818;
}

td.pw2
{
    background-color: #86ef6f;
    border-radius: 10px;
    color:#181818;
}

td.pw3
{
    background-color: #ef6f6f;
    border-radius: 10px;
    color:#181818;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}